/* 
Colors -

SteamyMugColor
#FFF0C8

BgColor
#BA9A73

FooterColor
#88653A

 */

@font-face {
    font-family: Leck;
    src: url(/fonts/Leckerli_One/LeckerliOne-Regular.ttf);
}

.bgColor{
    background-color: #BA9A73;
}

.navcolor{
    background-color: rgba(255, 255, 255, .15);
    z-index: -1;
}

.text{
    color: #fff0c8;
}

.twntf{
    font-size: 25px;
    font-family: Leck;
}

.heroimg{
    background-image: url(/assets/SMCheroimg2.png);
    height: 54vh;
    background-repeat: no-repeat;
}

.fourtf{
    font-size: 45px;
    font-family: Leck;
    color: white;
}

.herotxt{
    font-size: 100px;
    color:  #FFF0C8;
    font-family: Leck;
}

.latte{
    height: 40vh;
}

.hotcold{
    width: 350px;
    height: 350px;
    font-family: Leck;
    font-size: 35px;
}