/* 
Colors -

SteamyMugColor
#FFF0C8

BgColor
#BA9A73

FooterColor
#88653A

 */

@font-face {
    font-family: Leck;
    src: url(/fonts/Leckerli_One/LeckerliOne-Regular.ttf);
}

.font{
    font-family: Leck;
}

.bgColor {
    background-color: #BA9A73;
}

.navcolor {
    background-color: rgba(255, 255, 255, .15);
    z-index: -1;
}

.footcolor {
    background-color: #88653A;
}

.text {
    color: #fff0c8;
    font-family: Leck;
}

.twntf {
    font-size: 25px;
    font-family: Leck;
}

.tf {
    font-size: 35px;
    font-family: Leck;
}

.white {
    color: white;
    font-family: Leck;
}

.heroimg {
    background-image: url(/assets/smcherobg.png);
    height: 54vh;
    background-repeat: no-repeat;
}

.fourtf {
    font-size: 45px;
    font-family: Leck;
    color: white;
}

.herotxt {
    font-size: 100px;
    color: #FFF0C8;
    font-family: Leck;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.latte {
    height: 40vh;
}

.hotcold {
    width: 350px;
    height: 350px;
    font-family: Leck;
    font-size: 35px;
}

.temptxt {
    padding-bottom: 225px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.annoyingbanner {
    position: relative;
    width: 130px;
}

.boxshadow {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, .5);
}

.nolink {
    text-decoration: none;
}

.fd {
    font-size: 50px;
}

.hotbtnhover:hover {
    animation: hot 2s linear alternate infinite;
}

@keyframes hot {
    0% { border-color: red; }
    50% { border-color: orange; }
    100% { border-color: yellow; }
}

.coldbtnhover:hover {
    animation: cold 2s linear alternate infinite;
}

@keyframes cold {
    0% { border-color: blue; }
    50% { border-color: skyblue; }
    100% { border-color: azure }
}

.coffeeBg{
    background-color: white;
}

.coffee1Margin{
    margin-left: 85px;
    margin-right: 100px;
}

.coffee2Margin{
    margin-left: 100px;
    margin-right: 85px;
}

.thir{
    font-size: 30px;
    font-family: Leck;
}

.twenty{
    font-size: 20px;
    font-family: Leck;
}